body{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.login_container{
    padding: 40px;
    background-color: aqua;
    border-radius: 20px;
}

