.login_container{
    padding: 40px;
    background-color: aqua;
    border-radius: 20px;
    text-align: center;
    
}

.forget_password{
    text-align: right;
    margin-bottom: 10px;
  
}

.sign-in{
border-radius: 2px;
}